// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like,.unlike.yes{
  display: inline-block;
}
.like.yes,.unlike{
  display: none;
}

label span.notice {
  font-weight: normal;
  padding-left: 10px;
}

.list {
  margin: 0 0 10px 0;
  .desc {
    min-height: 30px;
    padding: 5px 5px 5px 5px;
    font-size: larger;
  }
  .items {
    margin: 10px auto 10px auto;
    padding: 0 5px 0 5px;
    ul{
      list-style-position: outside;
    }
    li {
      font-size: large;
      line-height: 1.3em;
      margin-bottom: 5px;
    }
  }
  .memo {
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 10px;
    min-height: 30px;
    border-radius: 5px;
    font-size: larger;
  }

  .desc,.memo {
    .lbl {
      font-size: smaller;
      color:black;
      font-weight: bold;
    }
  }
}


form#unlike input[type=submit]:hover {
  color:red;
}

.lists {
  display: block;
  border: solid 1px gray;
  border-radius: 3px;
  padding: 3px 5px 3px 5px;
  margin: 3px -12px 3px -12px;
  height: 100px;
  overflow: hidden;
  &:hover{
    text-decoration: none;
    background-color: lightgrey;
    color: black;
  }

  .title {
    font-size: larger;
    font-weight: bold;
    line-height: 30px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 2px;

    .star {
      color: gold;
      font-weight: bold;
    }
  }

  .desc {
    height: 65px;
  }
}
