// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like,.unlike.yes{
  display: inline-block;
}
.like.yes,.unlike{
  display: none;
}

form#unlike input[type=submit]:hover {
  color:red;
}

.lists-table {
  td.star {
    font-size: large;
    font-weight: bold;
    color: gold;
    width: 10px;
  }

  td.title {
    font-weight: bold;
    min-width: 300px;
  }

  td.desc {

  }
  td {
    .desc.digest {
      overflow: hidden;
      text-overflow:ellipsis;
      height: 38px;
    }
  }

  td.control {
    a {
      display: inline-block;
    }
  }
}


form.list-form {

}